global:
  storageClass: "proxmox-data"

fullnameOverride: "patchmon-dev"

backend:
  env:
    serverProtocol: https
    serverHost: patchmon-dev.example.com
    serverPort: "443"
    corsOrigin: https://patchmon-dev.example.com

ingress:
  enabled: true
  className: nginx
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
  hosts:
    - host: patchmon-dev.example.com
      paths:
        - path: /
          pathType: Prefix
          service:
            name: frontend
            port: 3000
  tls:
    - secretName: patchmon-dev-tls
      hosts:
        - patchmon-dev.example.com
